.list-group-item{
  background-color: #32383e !important;
}

.cardBody{
  margin-top: 120px !important;
  margin: auto;
}

body{
  height: 100vh;
  background-color: #282c34 !important;
}

.cardTitle{
  font-size: 30px !important;
}

.warningAlert{
  margin-top: 120px !important;
  margin: auto;
}
.spinnerLoader{
  margin-top: 120px !important;
  margin: auto !important;
}